<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/tasks">TRELLO</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="left">    
      <%- if current_user.nil? %>
        <li><a href="/users/sign_in" rel="nofollow">sing in</a></li>
        <li><a href="/users/sign_up" rel="nofollow">sing up</a></li>
      <% else -%>
        <li><a href="/users/edit">Profile</a></li>
        <li><a href="/users/sign_out" data-method="delete" rel="nofollow">Logout</a></li>
      <% end -%>    
    </ul>
  </section>
</nav>
